@using S3Train.WebHeThong.Models
@using Microsoft.AspNet.Identity;
@model MuonTraViewModel
@{
    ViewBag.Title = "CreateOrUpdate";
    Layout = "~/Views/Shared/_LayoutAdminPage.cshtml";
}

<div class="card">
    <div class="card-body" id="myForm">
        @using (Html.BeginForm("CreateOrUpdate", "MuonTra", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group row">
                <div class="col-md-6">
                    <label>@Html.DisplayNameFor(item => Model.UserId)</label>
                    @Html.EditorFor(model => Model.UserId, new { htmlAttributes = new { @class = "form-control", @placeholder = "" } })
                    @Html.ValidationMessageFor(model => Model.UserId, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-6">
                    <label>@Html.DisplayNameFor(item => Model.ThuMuon)</label>
                    @Html.EditorFor(model => model.ThuMuon, new { htmlAttributes = new { @class = "form-control", @placeholder = "" } })
                    @Html.ValidationMessageFor(model => model.ThuMuon, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-6">
                    <label>@Html.DisplayNameFor(item => Model.DSMuon)</label>
                    @Html.TextAreaFor(model => model.DSMuon, new { @class = "form-control", placeholder = "", rows = "3" })
                </div>
                <div class="col-md-6">
                    <label>@Html.DisplayNameFor(item => Model.SoLuong)</label>
                    @Html.EditorFor(model => model.SoLuong, new { htmlAttributes = new { @class = "form-control", @min = "1", @max = "1", @placeholder = "1" } })
                    @Html.ValidationMessageFor(model => model.SoLuong, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-6">
                    <label>@Html.DisplayNameFor(item => Model.NgayMuon)</label>
                    @Html.EditorFor(model => Model.NgayMuon, new { htmlAttributes = new { @class = "form-control", @placeholder = "" } })
                    @Html.ValidationMessageFor(model => model.NgayMuon, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-6">
                    <label>@Html.DisplayNameFor(item => Model.NgayTra)</label>
                    @Html.EditorFor(model => model.NgayTra, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NgayTra, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-success" />
            </div>
        }
    </div>

</div>

@section scripts{
    <script>
        $(function () {
            var successMessage = '@TempData["AlertMessage"]'
            if (successMessage != '')
                alertify.success(successMessage);
        });
        $(document).ready(function () {
            $("#ThuMuon").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/MuonTra/AutoCompleteText",
                        type: "POST",
                        dataType: "json",
                        data: { text: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.Text, value: item.Text };
                            }))

                        }
                    })
                }
            });
        });

        $(document).ready(function () {
            $("#UserId").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/MuonTra/AutoCompleteTextUser",
                        type: "POST",
                        dataType: "json",
                        data: { text: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.text, value: item.Text };
                            }))

                        }
                    })
                }
            });
        });
        
        $("#ThuMuon").change(function () {
            var thumuon = $("#ThuMuon").val();
            $("#ThuMuon").each(function () {
                var thumuon = $("#ThuMuon").val();
                $("#DSMuon").val(thumuon);
            });
            $("#DSMuon").val(thumuon)
        });

    </script>

}


