@using S3Train.Core.Constant
@using X.PagedList.Mvc.Common
@using X.PagedList.Mvc
@model S3Train.WebHeThong.Models.MuonTraIndexViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdminPage.cshtml";
    int stt = 1;
}

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                @Html.Partial("~/Views/Shared/_PartialActionCreateAndTrash.cshtml", "MuonTra")
            </div>
            <div class="col-md-6">
                @Html.Partial("~/Views/Shared/_PartialSearch.cshtml")
                <i><span>Tìm kiếm: theo đơn vị/người mượn hoặc tên văn thư</span></i>
            </div>
        </div>

        <table class="table table-responsive-lg">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Đơn Vị Mượn/Người Mượn</th>
                    <th>Tên hồ sơ, VB/TL</th>
                    <th>Văn Thư</th>
                    <th>Ngày Mượn</th>
                    <th>Ngày Trả</th>
                    <th>Trạng Thái</th>
                    <th>Hoạt Động</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td>@stt</td>
                        <td>@Html.DisplayFor(m => item.UserId)</td>
                        <td>@Html.DisplayFor(m => item.ChiTietMuonTras.)</td>
                        <td>@Html.DisplayFor(m => item.VanThu)</td>
                        <td>@Html.DisplayFor(m => item.NgayMuon)</td>
                        <td>@Html.DisplayFor(m => item.NgayTra)</td>
                        <td>@Html.Partial("~/Views/Shared/_PartialTrangThai.cshtml", item.TrangThai)</td>
                        <td>
                            @*<a href="@Url.Action("Detail","Tu", new { id=item.Id})" class="btn btn-info" title="Thông Tin Chi Tiết">
                                <i class="fas fa-info"></i>
                            </a>
                            <a href="@Url.Action("CreateOrUpdate","Tu", new { id=item.Id})" class="btn btn-primary" title="Cập Nhật">
                                <i class="fas fa-sync"></i>
                            </a>
                            <a href="@Url.Action("Delete","Tu", new { id=item.Id})" class="btn btn-danger" onclick="return confirm('Bạn Có Chắc Muốn Xóa @item.Ten?');" title="Xóa">
                                <i class="fas fa-trash"></i>
                            </a>*@
                        </td>
                    </tr>
                    stt += 1;
                }
                <tr class="pageging">
                    <td colspan="8">
                        @Html.PagedListPager(Model.Paged, pageIndex => Url.Action("Index", new RouteValueDictionary {
                        { "pageIndex" , pageIndex },
                        { "pageSize", Model.PageSize > 0 ? Model.PageSize : GlobalConfigs.DEFAULT_PAGESIZE } ,
                        }), new PagedListRenderOptions
                        {
                        LiElementClasses = new string[] { "page-item" },
                        PageClasses = new string[] { "page-link" },
                        DisplayLinkToFirstPage = PagedListDisplayMode.Always,
                        DisplayLinkToLastPage = PagedListDisplayMode.Always,
                        MaximumPageNumbersToDisplay = 5,
                        EllipsesElementClass = "page-link",
                        })
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@section scripts{
    <script>
        $(function () {
            var successMessage = '@TempData["AlertMessage"]'
            if (successMessage != '')
                alertify.success(successMessage);
        });
    </script>
}

