@using S3Train.WebHeThong.Models
@model KeViewIndexModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdminPage.cshtml";
    int soLuong = 0;
}

<div class="card">
    <div class="card-body">
        <a href="@Url.Action("CreateOrUpdate","Ke")" class="btn btn-info m-2">
            <i class="fas fa-plus"></i> Tạo Mới
        </a>

        <table class="table table-responsive-lg">
            <thead>
                <tr>
                    <th>Tủ</th>
                    <th>Số Thứ Tự</th>
                    <th>Tên</th>
                    <th>Lưu Trữ</th>
                    <th>Trạng Thái</th>
                    <th>Hoạt Động</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    soLuong = item.SoHopToiDa - item.SoHopHienTai;
                    <tr>
                        <td>@Html.DisplayFor(m => item.Tu.Ten)</td>
                        <td>Kệ Số @Html.DisplayFor(m => item.SoThuTu)</td>
                        <td>@Html.DisplayFor(m => item.Ten)</td>
                        <td>@Html.Partial("~/Views/Shared/_PartialTinhTrang.cshtml", soLuong)</td>
                        <td>@Html.Partial("~/Views/Shared/_PartialTrangThai.cshtml", item.TrangThai)</td>
                        <td>
                            <a href="@Url.Action("Detail","Ke", new { id=item.Id})" class="btn btn-info" title="Thông Tin Chi Tiết">
                                <i class="fas fa-info"></i>
                            </a>
                            <a href="@Url.Action("CreateOrUpdate","Ke", new { id=item.Id})" class="btn btn-primary" title="Cập Nhật">
                                <i class="fas fa-sync"></i>
                            </a>
                            <a href="@Url.Action("Delete","Ke", new { id=item.Id})" class="btn btn-danger" onclick="return confirm('Bạn Có Chắc Muốn Xóa @item.Ten?');" title="Xóa">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                }
                <tr class="pageging">
                    <td colspan="8">
                        @Html.PagedListPager(Model.Paged, pageIndex => Url.Action("Index", new RouteValueDictionary {
                        { "pageIndex" , pageIndex },
                        { "pageSize", Model.PageSize > 0 ? Model.PageSize : GlobalConfigs.DEFAULT_PAGESIZE } ,
                        }), new PagedListRenderOptions
                        {
                        LiElementClasses = new string[] { "page-item" },
                        PageClasses = new string[] { "page-link" },
                        DisplayLinkToFirstPage = PagedListDisplayMode.Always,
                        DisplayLinkToLastPage = PagedListDisplayMode.Always,
                        MaximumPageNumbersToDisplay = 5,
                        EllipsesElementClass = "page-link",
                        })
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@section scripts{
    <script>
        $(function () {
            var successMessage = '@TempData["AlertMessage"]'
            if (successMessage != '')
                alertify.success(successMessage);
        });
    </script>
}