@using S3Train.WebHeThong.Models
@model TaiLieu_VanBanViewModel

@{
    ViewBag.Title = "CreateOrUpdate";
    Layout = "~/Views/Shared/_LayoutAdminPage.cshtml";
}

<div class="card">
    <div class="card-body" id="myForm">
        @using (Html.BeginForm("CreateOrUpdate", "TaiLieuVanBan", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            @Html.HiddenFor(m => m.Dang)
            <div class="form-group row">
                <div class="col-md">
                    <label>@Html.DisplayNameFor(item => Model.Ten)</label>
                    @Html.EditorFor(model => model.Ten, new { htmlAttributes = new { @class = "form-control", @placeholder = "Thông Báo Đóng Học Phí Học Kỳ 2 Năm 2019-2020" } })
                    @Html.ValidationMessageFor(model => model.Ten, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-6">
                    <label>@Html.DisplayNameFor(item => Model.Loai)</label>
                    @Html.DropDownListFor(m => m.Loai, new SelectList(ViewBag.LoaiHoSos, "Text", "Text"), new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Loai, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-6">
                    <label>@Html.DisplayNameFor(item => Model.NoiBanHanhId)</label>
                    @Html.DropDownListFor(m => m.NoiBanHanhId, new SelectList(ViewBag.NoiBanHanhs, "value", "Text"), new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.NoiBanHanhId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-4">
                    <label>@Html.DisplayNameFor(item => Model.SoKyHieu)</label>
                    @Html.EditorFor(model => model.SoKyHieu, new { htmlAttributes = new { @class = "form-control", @placeholder = "1052/TB-DCT" } })
                    @Html.ValidationMessageFor(model => model.SoKyHieu, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-2">
                    <label>@Html.DisplayNameFor(item => Model.SoTo)</label>
                    @Html.EditorFor(model => model.SoTo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SoTo, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-3">
                    <label>@Html.DisplayNameFor(item => Model.NgayBanHanh)</label>
                    @Html.EditorFor(model => model.NgayBanHanh, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NgayBanHanh, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-3">
                    <label>@Html.DisplayNameFor(item => Model.HoSoId)</label>
                    @Html.DropDownListFor(m => m.HoSoId, new SelectList(ViewBag.HoSos, "value", "Text"), new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.HoSoId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-6">
                    <label>@Html.DisplayNameFor(item => Model.NguoiKy)</label>
                    @Html.EditorFor(model => model.NguoiKy, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nguyễn Văn A" } })
                    @Html.ValidationMessageFor(model => model.NguoiKy, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-6">
                    <label>@Html.DisplayNameFor(item => Model.NguoiDuyet)</label>
                    @Html.EditorFor(model => model.NguoiDuyet, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nguyễn Văn B" } })
                    @Html.ValidationMessageFor(model => model.NguoiDuyet, "", new { @class = "text-danger" })
                </div>
            </div>

            {
                if (Model.Dang == "Đi")
                {
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label>Người Gửi</label>
                            @Html.EditorFor(model => model.NguoiGuiHoacNhan, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nguyễn Văn C" } })
                            @Html.ValidationMessageFor(model => model.NguoiGuiHoacNhan, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-6">
                            <label>@Html.DisplayNameFor(item => Model.NoiNhan)</label>
                            @Html.EditorFor(model => model.NoiNhan, new { htmlAttributes = new { @class = "form-control", @placeholder = "320 đường Bạch Đằng / Quận Bình Thạnh" } })
                            @Html.ValidationMessageFor(model => model.NoiNhan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                }
                else
                {
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label>Người Nhận</label>
                            @Html.EditorFor(model => model.NguoiGuiHoacNhan, new { htmlAttributes = new { @class = "form-control", @placeholder = "" } })
                            @Html.ValidationMessageFor(model => model.NguoiGuiHoacNhan, "", new { @class = "text-danger" })
                        </div>
                        @*<div class="col-md-6">
                            <label>File Đính Kèm</label>
                            <input type="file" class="custom-file form-control"/>
                            <span class="small">Có thể có hoặc không</span>
                        </div>*@
                    </div>
                }
            }

            <div class="form-group row">
                <div class="col-md-6">
                    <label>@Html.DisplayNameFor(item => Model.GhiChu)</label>
                    @Html.TextAreaFor(model => model.GhiChu, new { @class = "form-control", rows = "5" })
                    <script type="text/javascript">CKEDITOR.replace("GhiChu", { htmlEncodeOutput: true });</script>
                </div>
                <div class="col-md-6">
                    <label>@Html.DisplayNameFor(item => Model.TrichYeu)</label>
                    @Html.TextAreaFor(model => model.TrichYeu, new { @class = "form-control", rows = "5" })
                    <script type="text/javascript">CKEDITOR.replace("TrichYeu", { htmlEncodeOutput: true });</script>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md">
                    <label>@Html.DisplayNameFor(item => Model.NoiDung)</label>
                    @Html.TextAreaFor(model => model.NoiDung, new { @class = "form-control", rows = "5" })
                    <script type="text/javascript">CKEDITOR.replace("NoiDung", { htmlEncodeOutput: true });</script>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-success" />
            </div>
        }
    </div>
</div>

